.popup {
    pointer-events: none;
    user-select: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 10;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.1s, opacity 0.1s;
}

.is_opened {
    pointer-events: all;
    display: flex;
    visibility: visible;
    opacity: 1;
    transition: visibility 0s, opacity 0.1s;
}

.content {
    position: relative;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: var(--color-bg);
}
